.hrnet-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address-title {
    font-weight: normal;
    margin-top: 0;
    text-align: left;
}